.cookbookContainer{
    display: flex;
    justify-content: space-around;
}

.cookbookContainer a{
    text-decoration: none;
    color: black;
}


.cookbookcard img{
    width: 200px;
}

.cookbookcard{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 129, 129);
    width: 400px;
}